@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #161616;
    color: white;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}

/* header */
section.header img {
    max-width: 180px;
    border-radius: 50%;
}

h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
}

/* links */
section.links .link-item {
    width: 100%;
    margin-bottom: 16px;
}

section.links .link-item a {
    display: block;
    width: 100%;
    border: 1px #333 solid;
    padding: 16px;
    text-align: center;
    border-radius: 180px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

section.links .link-item a::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 180px;
}

section.links .link-item a::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 180px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/* hover */
section.links .link-item a:hover::before {
    opacity: 1;
}

section.links .link-item a:active::after {
    background: transparent;
}

section.links .link-item a:active {
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    section {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }
}
